@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2");
}

body {
  background-color: #181818;
  margin: 0;
  min-width: 350px;
  transform-origin: top center;
  overflow-x: hidden;
  font-family: "Inter";
}

@media print {
  .no-print {
    display: none !important;
  }
}

/* Scale the app for big monitors */
@media (min-width: 1440px) {
  body {
    transform: scale(1.2);
  }
}

@media (min-width: 2560px) {
  body {
    transform: scale(1.5);
  }
}

@media (min-width: 3440px) {
  body {
    transform: scale(2);
  }
}


/* Controls */
.navbar {
  display: flex;
  gap: .6rem;
  flex-direction: row;
  flex-wrap: wrap;

  background: #0c0c0c;
  padding: .6rem;
  margin-bottom: 1rem;
}

@media (min-width: 700px) {
  .navbar {
    justify-content: center;
  }
}

.nav-btn {
  background: transparent;
  border: none;
  color: #cecece;
  padding: .4rem .75rem;
  flex-direction: row;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  border-radius: 0;
  text-decoration: none;
  outline: none;
  align-items: center;
}

.nav-btn:hover {
  color: white;
  background-color: #181818;
  border-radius: .25rem;
}

.nav-input {
  background: #181818;
  border: .1rem solid #1d1d1d;
  color: #cecece;
  border-radius: .25rem;
  box-sizing: border-box;
  outline: none;
  padding: .6rem .6rem;
  border-bottom: .15rem solid rgb(75, 75, 75);
}

.btn {
  background: #121212;
  border: none;
  color: #cecece;
  padding: .6rem .75rem;
  flex-direction: row;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  border-radius: 0;
  text-decoration: none;
  outline: none;
  align-items: center;
  border-radius: .25rem;
}

.btn:hover {
  color: black;
  border-radius: .25rem;
  background-color: rgb(2, 255, 207);
}

/* Wallet paper */
.wallet-paper {
  padding: 0 1rem;
  font-family: "Inter", "Noto Sans", "DejaVu Sans", "Arial Unicode MS", sans-serif;
}

@media screen and (min-width: 900px) {
  .wallet-paper svg {
    height: 472px;
  }
}

/* Footer */
.footer {
  padding: 1rem;
  color: #999999;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.footer> :last-child {
  margin-top: .25rem;
  font-size: 13px;
  color: #6d6d6d;
}

/* Misc */
.hidden {
  display: none !important;
}

/* Modal */
.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  z-index: 1;
}

.modal-backdrop {
  z-index: 3;
  background: rgba(24, 24, 24, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-wrapper {
  background: rgb(24, 24, 24);
  max-width: 400px;
  color: #cecece;
  margin-top: 2rem;
  z-index: 3;
  transform: translateY(-100%);
  animation: modal-anim .3s forwards;
  border-radius: .25rem;
  border: thin solid rgb(34, 34, 34);
  box-shadow: 0 0 10px black;
}

@keyframes modal-anim {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.modal-h1 {
  font-weight: bold;
  font-size: 22px;
  padding: 1rem;
  background-color: #141414;
}

.modal-h2 {
  font-weight: bold;
  font-size: 18px;
}

.modal-div {
  display: flex;
  gap: .5rem;
  flex-direction: column;
}

.modal-content {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.modal-list {
  display: flex;
  gap: .5rem;
  flex-direction: column;
}